.table__cell {
    margin: 0;
    padding: 0.5em;
    vertical-align: top;
    text-align: left;
    color: var(--color-dark);
    border: 3px solid var(--color-light-gray);
    background-color: var(--color-light);
}
