/* --- Tab Content --- */
.schedule .tab-content h4 {
    margin-top: 0;
}

.schedule .tab-content {
    position: relative;
    padding: 1em 1em 2em;
    border: 2px solid var(--color-light-gray);
}
