.teaser-list ul {
    margin: 0;
    padding: 0;
}

.teaser-list li {
    list-style: none;
}

.teaser-list__items {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*width: 100%;*/
    /*justify-content: space-between;*/

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.teaser-list__item {
    /*flex: 25%;*/
}
