.filters {
   padding: 10px 0;
}

.filters ul {
    margin: 0;
    padding: 0;
}

.filters li {
    list-style: none;
}

.filters__items {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.filters button {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    color: #202020;
    float: left;
    font-size: 14px;
    font-weight: 600;
    padding: 1em 2.5em;
    text-transform: uppercase;
}

.filters button[disabled],
.filters button:hover {
    background-color: #ffea00;
}
