.filters {
   padding: 10px 0;
}

.filters ul {
    margin: 0;
    padding: 0;
}

.filters li {
    list-style: none;
}

.filters__items {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.filters button {
    color: #202020;
    background: none;
}
.filters button[disabled],
.filters button:hover {
    opacity: 1;
    background-color: #ffea00;
}
